@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use './partials/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $mt-cinder;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
}