$mt-white: #ffffff;
$mt-cinder: #171520;
$mt-silver-sand: #bbbcbd;
$mt-mountain-meadow: #20ac97;
$mt-corduroy: #6b6c6c;

$bg-header: #f7f6fc;
$btn-hover: #3e3a65;

$font-merriweather: "'Merriweather', serif";