$mt-white: #ffffff;
$mt-cinder: #171520;
$mt-silver-sand: #bbbcbd;
$mt-mountain-meadow: #20ac97;
$mt-corduroy: #6b6c6c;

$mt-primary: #20ac97;
$mt-secondary: #3F3A64;
$mt-light: #ffffff;
$mt-dark: #333333;
$mt-gray: #6b6c6c;
$bg-header: #f6f6fd;

$btn-hover: #3e3a65;

$font-merriweather: "Playfair Display', serif";
$font-serif: "Playfair Display', serif";