/* Color cube */
$mt-white: #ffffff;
$mt-cinder: #171520;
// $mt-silver-sand: #bbbcbd;
$mt-mountain-meadow: #20ac97;
$mt-corduroy: #6b6c6c;
// $mt-alizarin-crimson: #e2251a;
// $mt-cafe-royale: #77440e;
// $mt-antique-brass: #ca935f;
// $mt-tangerine: #f38f01;
// $mt-congress-blue: #044689;

/* Median cut */
// $mt-ebony-clay: #232a33;
// $mt-athens-gray: #ebe9ed;
// $mt-spicy-mix: #8a614a;
// $mt-gray-chateau: #9aa2a6;
// $mt-barley-corn: #a38664;

/* Material design */
// $mt-san-marino: #43779d;
// $mt-quicksand: #c2a394;
// $mt-jungle-green: #26aa94;
// $mt-vulcan: #141423;
// $mt-amour: #fcf7fb;

$bg-header: #f7f6fc;
$btn-hover: #3e3a65;

$font-merriweather: "'Merriweather', serif";